body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
        background-image: url('gambar/dinodina.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
}

.content {
    text-align: center;
    padding-top: 20px;
}

.profile-box {
    display: flex;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
    align-items: flex-start;
    background-image: url('../gambar/dinodina.jpg'); /*  URL dengan path menuju gambar yang diinginkan */
    background-size: cover;
    background-position: center;
}

.profile-image {
    width: 200px;
    height: 300px;
    border-radius: 0;
    margin-top: 30px;
    margin-right: 20px;
}
